// Fonts
$font-base: "Arimo-Regular";

// Animation
$animation-time: 0.3s;
$double-animation: 0.6s;

// MediaQ - теперо подключаются в layout
// $desktop: ~"(max-width: 1439px)";
// $desktop-min: ~"(max-width: 1169px)";
// $tablet: ~"(max-width: 1023px)";
// $mobile: ~"(max-width: 767px)";

@mixin icon-size($size) {
    height: $size;
    line-height: $size;
    font-size: $size;
}
@mixin ofi {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
@mixin flex($grow, $shrink, $basis) {
    flex-grow: $grow;
    flex-shrink: $shrink;
    flex-basis: $basis;
}

// Основные цвета
$cl-transparent: transparent;
$cl-white: #ffffff;
$cl-black: #000000;
$cl-gray: #a1a1a1;
$cl-dark-grey: #737373;
$gainsborough: #e0e0e0;


// Colors
// Цвета theme. Не трогать!
$cl-theme-global: $cl-black;
$cl-theme-link: $cl-black;
$cl-theme-link-hover: $cl-gray;
$cl-theme-grey: $cl-gray;


// Цвета текста
$cl-font-main: $cl-black;
$cl-font-light: $cl-gray;

/* Добавлять по категориям cl-элемент
/* $cl-button-bg: $Var */

// Общий док
$background: $cl-white;
$main-background: $cl-white;

// разделитель между секция


// элементы формы (input, textarea, select, etc)


// кнопки с бэком без бордера


// кнопки прозрачные


// стрелки


// дотсы



// радио и чексбоксы



// теги


// ------
// ЦВЕТА
// ------

// // Alpha colors
// // $cl-alpha: rgba(255, 255, 255, .2); // цвет + описание
$cl-alpha-black: rgba(0, 0, 0, .5); // чeрный .5

// Генерируемые цвета - ниже не пишем ничего сами )

$text: $cl-black;
$text-white: $cl-white;

